


body{

    font-family: "Poppins", sans-serif;
    margin: 0px;
}



h1{
    font-size: 60px;
}
.flexible-container{
   display: flex;
   margin-bottom: 200px;

}



.rasel{
    font-size: 80px;
}
.md{
    font-size: 50px;
}
.sabbir{
    color: deepskyblue;
    font-size: 70px;

}

.half-width{
    width: 45%;
    
    text-align: center;
    font-size: 110%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 660px; 
    border-radius: 50px;
    height: 700px;
    padding-top: 5px;

}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 15px;
    color: rgb(218, 210, 210);
    font-weight: 600;

}


.top-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    

}

.dream-big{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
   
    }

     
    .experience-item{
        box-shadow: 10px 10px 40px grey;

        
        
        
    }
    footer p{
        text-align: center;
    }



    .experience-item{
        box-shadow:10px 10px 40px grey;
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px;
        border-radius: 10px;
        
        
    }
    .experience-area {
        background-image:url(images/exp-bg.png) ;
        background-repeat: no-repeat;
        background-position: left;
    }
    
    #full-stack-developer{
        border-left: 7px solid tomato;
    }
    #baby-web-developer{
        border-left: 7px solid blue;
    }
    footer p{
        text-align: center;
    }




