


body{

    font-family: "Poppins", sans-serif;
    margin: 0px;
}



h1{
    font-size: 60px;
}
.flexible-container{
   display: flex;
}



.rasel{
    font-size: 80px;
}
.md{
    font-size: 50px;
}
.sabbir{
    color: deepskyblue;
    font-size: 70px;

}

.half-width{
    width: 45%;
    
    text-align: center;
    font-size: 110%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 660px; 
    border-radius: 50px;
    height: 700px;
    padding-top: 5px;

}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 15px;
    color: rgb(218, 210, 210);
    font-weight: 600;

}


.top-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}





